{
  "presets": [
    // "@babel/preset-env"
    "@babel/preset-react"
    // "react-app"
  ],
  "plugins": [
    // "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          // alias for content directory
          "@components": "./src/pages/Content/components",
          "@entities": "./src/pages/Content/entities",
          "@hooks": "./src/pages/Content/hooks",
          "@utils": "./src/pages/Content/utils",
          "@loaders": "./src/pages/Content/loaders"
        }
      }
    ]
  ]
}
